#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
#.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

assets/image/quiz/1624679905_db4226ee3614be2cc8e0.jpg
assets/image/quiz/1626924456_f45e9c4b9478f591690d.jpg
assets/image/quiz/1627717542_0b16ec92f4eadea1ecc6.png
assets/image/quiz/1627721980_2a06d6241f267a726a8b.png
assets/image/quiz/1627722117_1aa01abaead1fbbdf65e.png
assets/image/ruleto/1a17f27f-8987-4933-b127-a671ddfb9268.jpg
assets/image/ruleto/22b6faba-36e4-46b9-be43-235c96b81e5b.jpg
assets/image/ruleto/7cf6eea0-4278-46f2-8fda-ccee296e5a1e.jpg
assets/image/ruleto/7e456b53-3516-40b8-8e34-97ce7c0bef02.png
assets/image/ruleto/84e48dbd-1c07-49a6-9864-91f59f966daf.png
assets/image/ruleto/92a53fd8-332f-482e-b86e-9b124103bb5f.png
assets/image/ruleto/b3c0091c-520b-404e-917a-2616ae03519f.png
assets/image/ruleto/bac46ded-c720-42a6-b142-ebe88682027d.png
assets/image/ruleto/cafe0f52-ed5e-4066-bcf9-c44e7e155d03.jpg
assets/image/ruleto/cd46ab51-5c02-48ab-b4a6-ccff9701a14c.jpg
assets/image/ruleto/d7c6a61c-6271-4158-8b5e-60acea026f1e.png
assets/image/ruleto/d98eeb5b-9cd3-4d71-b932-fac4fa7c1f90.png
assets/image/ruleto/e269f53b-aa14-47ea-a553-53466818eedd.png
assets/image/ruleto/e42f3bf0-d7f1-4371-a7f8-8d0f100956f1.png
assets/image/ruleto/e7283542-1f3a-4beb-bcf2-a1a2bed2792f.png
assets/image/soalquiz/1627711525_62dc3568100b14cf2233.png
assets/image/soalquiz/1627712440_2149dd9be345a00dc54a.jpg
assets/image/soalquiz/1627712495_79777b17d75fe24c52be.jpg
assets/image/soalquiz/1627712571_84bcb9d2ef5c28114b86.jpg
assets/image/soalquiz/1627712613_e68020b4395ce4e7f9b3.jpg
assets/image/soalquiz/1627712644_8b1ed99b944d8a1613c7.jpg
assets/image/soalquiz/1627712725_af442a851c967121feef.jpg
assets/image/soalquiz/1627712734_80c1ce900a6ad67cdce2.jpg
assets/image/soalquiz/1627712771_8e229de5f74203152d07.jpg
assets/image/soalquiz/1627717776_2ac33831ecc96f883181.png
assets/image/soalquiz/1627717776_c071db89eab9aa46e7e8.jpg
assets/image/soalquiz/1627790121_ddf15b0192c84dbfaccf.png
assets/image/soalquiz/1627790179_2f57c99a2bedd6b75294.png
assets/image/soalquiz/1627790393_6a84da7670fbb82f9f25.png
assets/image/soalTryout/1627790589_685ff61fa815658ae5af.png
assets/image/soalTryout/1627790589_d70658f9bc2ed465b917.png
assets/image/topup/1cff039c-fcfb-4c30-a421-34fbb137c158.jpg
assets/image/topup/1e50f160-ba4f-4f99-bf61-d69f30c83864.png
assets/image/topup/29bf3f6c-586e-4d79-a49e-b24069e12de8.png
assets/image/topup/2b781849-44c8-4be1-963c-d750693eeae9.png
assets/image/topup/5bcd9de5-c965-4f4d-8d0b-6977cb5a7c97.jpg
assets/image/topup/8129fc7b-eb23-4d9f-893d-0d4606e05b7c.jpg
assets/image/topup/9cb5c94c-02e2-42e5-89ae-258dfa35111c.jpg
assets/image/topup/bababcd4-c4b2-4850-8605-543acd70464b.jpg
assets/image/topup/cd09aa31-fee9-43bf-871c-cca0c4b71ec5.png
assets/image/topup/ec29f5c6-0c02-4d02-ada1-035edfd038be.jpg
assets/image/tryout/1626538391_9e716d231c417723158f.jpg
.env
